/* styles page for motivation.html*/
 body {
            background-color: lightblue;
        }
        p {
            background-color: blue;
            color: white;
            height: 100px;
            width: 100px
            text-align: center;
        }
